<%= form_for([@problem, @translation]) do |f| %>
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'errors.template.header', model: Translation.model_name.human, count: @translation.errors.count %></h2>

      <ul>
      <% @translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
