<div class="page-header">
  <h1><%= @translation.title %> <small><%= t 'problems.show.problem_subtitle', id: @translation.problem_id %></small></h1>
</div>

<%= panel do %>
    <div class="panel-body problem-content">
        <%= sanitize @translation.content %>
    </div>
<% end %>
<div class="text-center">
  <%= link_to t('problems.show.view_original_problem'), @translation.problem.original_url, target: '_blank' %>
</div>
