<% provide(:title, t('.administration')) %>
<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1><%= t('.administration') %></h1>
</div>
<%= link_to t('.view_translations'), admin_translations_path, class: 'btn btn-primary' %>
<p>
  <%= t('.number_of_problems') %>: <%= @current_problem_count %><br/>
  <% if @most_recent_pull.present? %>
    <%= t('.time_since_last_pull') %>: <%= time_ago_in_words @most_recent_pull %>
  <% end %>
</p>
<%= button_to t('.pull_problems'), '/admin/pull_problems', method: :post, class: 'btn btn-warning' %>