<% provide(:title, t('.administration')) %>
<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1><%= t('.administration') %></h1>
</div>
<%= link_to t('.view_translations'), admin_translations_path, class: 'btn btn-primary' %>

<h1><%= t('.update_problem_count') %></h1>
<%= form_tag '/admin/update_problem_count', method: :post, class: 'form-inline' do %>
    <%= number_field_tag 'problem_count', @current_problem_count, min: @current_problem_count, class: 'form-control' %>
    <%= submit_tag t('.update'), class: 'btn btn-warning' %>
<% end %>