<div class="page-header">
  <h1><%= @problem.title %> <small><%= t '.problem_subtitle', id: @problem.id %></small></h1>
</div>
<%= link_to new_problem_translation_path(@problem), class: 'btn btn-default btn-sm pull-right' do %>
    <%= icon :pencil %> <%= t '.improve_translation' %>
<% end %>
<%= panel do %>
    <div class="panel-body problem-content">
      <%= sanitize @problem.content %>
    </div>
<% end %>
<div class="text-center">
  <%= link_to t('.view_original_problem'), @problem.original_url, target: '_blank' %>
</div>