<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="page-header">
  <h1><%= @problem.title %> <small>Problem <%= @problem.id %></small></h1>
</div>

<%= panel do %>
    <div class="panel-body problem-content">
      <%= sanitize @problem.content %>
    </div>
<% end %>
<div class="text-center">
  <%= link_to 'Dieses Problem auf projecteuler.net', @problem.translation.original_url, target: '_blank' %>
</div>