<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="page-header">
  <h1><%= @problem.title %> <small>Problem <%= @problem.id %></small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body problem-content">
    <%= sanitize @problem.content %>
  </div>
</div>

<%= button_to 'Edit', edit_problem_path(@problem), class: 'btn btn-default' %>
