<% provide(:title, t('problems.show.problem_subtitle', id: @problem.id)) %>

<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1><%= t 'problems.show.problem_subtitle', id: @problem.id %></h1>
</div>

<%= t 'problems.not_yet_translated' %>
<%= link_to new_problem_translation_path(@problem), class: 'btn btn-primary btn-sm' do %>
    <%= icon('fas', 'edit') %> <%= t 'problems.index.suggest_translation' %>
<% end %>