<% provide(:title, Translation.model_name.human(count: 2)) %>

<h1><%= Translation.model_name.human(count: 2) %></h1>

<%= render 'translation_pagination' %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= Translation.human_attribute_name(:id) %></th>
      <th><%= Translation.human_attribute_name(:title) %></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.id %></td>
        <td><%= link_to translation.title, [:admin, translation] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'translation_pagination' %>
<br>