<% provide(:title, t('problems.show.problem_subtitle', id: @translation.problem_id)) %>

<div class="page-header">
  <p class="text-muted">
    <%= render 'shared/authors', authors: Array(@translation.author) %>
  </p>
  <h1><%= @translation.title %> <small><%= t 'problems.show.problem_subtitle', id: @translation.problem_id %></small></h1>
</div>

<% if @translation.problem.is_translated? %>
  <div class="alert alert-warning" role="alert"><%= t('.already_translated') %> <%= link_to t('.visit_current_translation'), @translation.problem, target: '_blank', class: 'alert-link' %></div>
<% else %>
  <div class="alert alert-info" role="alert"><%= t('.is_new_translation') %></div>
<% end %>
<% if @translation.pending? %>
  <%= link_to admin_translation_decline_path(@translation), method: :post, class: 'btn btn-default btn-sm pull-right' do %>
    <%= icon :remove %> <%= t '.decline_translation' %>
  <% end %>
  <%= link_to admin_translation_accept_path(@translation), method: :post, class: 'btn btn-default btn-sm pull-right' do %>
    <%= icon :ok %> <%= t '.accept_translation' %>
  <% end %>
<% end %>

<%= panel do %>
    <div class="panel-body problem-content">
        <%= sanitize @translation.content, scrubber: TranslationContentScrubber.new %>
    </div>
<% end %>
<div class="text-center">
  <%= link_to t('problems.show.view_original_problem'), @translation.problem.original_url, target: '_blank' %>
</div>
