<!DOCTYPE html>
<html>
<head>
  <title><%= t :site_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= navbar position: :static do %>
    <%= vertical do %>
        <%= link_to t(:site_title), root_path %>
    <% end %>
    <%= horizontal do %>
        <%= nav class: 'navbar-left' do %>
            <%= link_to Problem.model_name.human(count: 2), problems_path %>
            <%= link_to Translation.model_name.human(count: 2), translations_path %>
        <% end %>
    <% end %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-12" role="main">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
