<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full,Safe', 'data-turbolinks-track' => true %>
  <% if Rails.env.production? %>
    <%=javascript_include_tag 'https://matomo.pfischbeck.de/matomo.js', async: true, defer:true  %>
    <%= javascript_include_tag 'matomo', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<main role="main">
  <%= render 'layouts/header' %>
  <div class="container">
    <%= flash_messages %>
    <div class="row">
      <%= yield %>
    </div>
  </div>
</main>

<%= render 'layouts/footer' %>
</body>
</html>
