<!DOCTYPE html>
<html>
<head>
  <title><%= t :site_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
         inlineMath: [ ["$","$"], ["\\(","\\)"] ],
         displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
         processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <%= mathjax_tag config: 'TeX-AMS_HTML' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= navbar position: :static do %>
    <%= vertical do %>
        <%= link_to t(:site_title), root_path %>
    <% end %>
    <%= horizontal do %>
        <%= nav class: 'navbar-left' do %>
            <%= link_to Problem.model_name.human(count: 2), problems_path %>
            <% if admin_signed_in? %>
              <%= link_to t('admin.dashboard.index.administration'), :admin %>
            <% end %>
        <% end %>
        <%= nav class: 'navbar-right' do %>
      <% if admin_signed_in? %>
        <%= link_to(t('application.sign_out'), destroy_admin_session_path, method: :delete) %>
      <% else %>
        <%= link_to(t('application.sign_in'), new_admin_session_path) %>
      <% end %>
        <% end %>
    <% end %>
<% end %>
<div class="container">
  <%= flash_messages %>
  <div class="row">
    <div class="col-md-12" role="main">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
